body {
  font-family: cursive;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  font-weight: bold;
}
button {
  font-family: cursive;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 7px;
  color: white;
}
header {
  background-color: #bc3ffe;
  height: 10vh;
  top: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 0;
  color: white;
}
.row {
  min-height: 78vh;
  text-align: center;
  margin-top: 30px; 
}
input {  
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 9px;
  border-radius: 5px;
  font-family: cursive;
  font-weight: bold;
  color: #bc3ffe;
}
textarea {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 9px;
  font-family: cursive;
  font-weight: bold;
  border-radius: 5px;
  color: #bc3ffe;
}
::placeholder {
  font-family: cursive;
  font-weight: bold;
  color: #bc3ffe;
}
.btnCreateTask {
  background-color: #bc3ffe;
  padding: 9px 30px;
  cursor: pointer;
}
.searchAndCreateSection {
  display: flex;
  margin: 20px 0 20px 0;
}
.taskCreationButton {
  flex: 1;
}
.modalCreateTask {
  display: none;
	position: fixed;
	z-index: 1;
	padding-top: 2%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
.contentModalCreateTask {
  position: relative;
	background-color: #FFFFFF;
	margin: auto;
	padding: 30px;
	border-radius: 7px;
	width: 630px;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.8s;
	animation-name: animatetop;
	animation-duration: 0.8s
}
.contentModalCreateTask > h2 {
  color: #bc3ffe;
}
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}
.formModal > h2 {
 margin-bottom: 20px;
 width: 90%;
}
.formModal > input {
  margin-bottom: 20px;
  width: 87%;
}
.formModal > textarea {
  margin-bottom: 20px;
  width: 87%;
}
.formModal > select {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 9px;
  border-radius: 5px;
  color: #bc3ffe;
  font-family: cursive;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  width: 90%;
}
.searchBar {
  flex: 1;
}
.btnSearchBar, .btnFilterAll, .btnFilterProgress, .btnFilterCompleted {
  background-color: #bc3ffe;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.filterButton {
  flex: 1;
}
.selectFilterPriority {
  border: none;
  border-radius: 5px;
  padding: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #bc3ffe;
  font-family: cursive;
  font-weight: bold;
  cursor: pointer;
}
.ProgressionBarSection {
  margin: 50px 0 40px 0;
  color: #bc3ffe;
}
progress {
  height: 20px;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  appearance: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
progress::-webkit-progress-bar {
  background-color: white;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background-color: #bc3ffe;
  border-radius: 10px;
}
progress::-moz-progress-bar {
    background-color: #4caf50;
    border-radius: 10px;
}
.containerInProgressAndCompleted {
  display: flex;
}
.inProgressSection {
  flex: 1;
}
.inProgressSection > h2 {
  color: #bc3ffe;
}
.cardTask {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  width: 40vh;
  text-align: left;
  margin: auto;
  margin-bottom: 20px;
}
.tagCard {
  border-radius: 7px 7px 0 0;
  display: flex;
  padding: 10px;
}
.tagsCard {
  text-align: left;
  flex: 1;
}
.titleCard {
  text-align: center;
  color: #bc3ffe;
}
.descriptionCard {
  border: solid 2px #dcdcdc;
  border-right: none;
  border-left: none;
  padding: 10px;
}
.dueDataCard {
  text-align: center;
}
.modificatedAndDeletedTask {
  text-align: center;
  padding: 20px 0;
  border-top: solid 2px #dcdcdc;
}
.modifiedTask {
  margin-right: 10px;
  background: #bc3ffe;
  cursor: pointer;
}
.deletedTask{
  margin-left: 10px;
  background: #ff3939 ;
  cursor: pointer;
}
.completedSection {
  flex: 1;
}
.completedSection > h2 {
  color: #bc3ffe;
}
.submitForm{
  background-color: #bc3ffe;
  cursor: pointer;
  width: 90%;
  padding: 20px;
}
footer {
  background-color: #bc3ffe;
  height: 10vh;
  bottom: 0;
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
