body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  font-weight: bold;
}
button {
  font-family: Arial;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 9px;
  color: white;
}
header {
  background-color: #00079e;
  height: 10vh;
  top: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 0;
  color: white;
}
.row {
  min-height: 78vh;
  text-align: center;
  margin-top: 30px; 
}
input {  
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial;
  font-weight: bold;
}
textarea {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  font-family: Arial;
  font-weight: bold;
  border-radius: 5px;
}
::placeholder {
  font-family: Arial;
  font-weight: bold;
}
select{
  text-align: left;
}
.searchAndCreateSection {
  display: flex;
  margin: 20px 0;
}
.btnCreateTask {
  background-color: #00079e;
  padding: 10px 30px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.taskCreationButton {
  flex: 1;
}
.modalCreateTask {
  display: none;
	position: fixed;
	z-index: 1;
	padding-top: 2%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
.contentModalCreateTask {
  position: relative;
	background-color: #FFFFFF;
	margin: auto;
	padding: 30px;
	border-radius: 7px;
	width: 426px;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.8s;
	animation-name: animatetop;
	animation-duration: 0.8s
}
.divCloseModal {
 text-align: right;
}
.btnCloseModal {
  padding: 8px 11px;
  background-color: #ff3939;
}
.contentModalCreateTask > h2 {
  color: #00079e;
}
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}
.formModal > h2 {
 margin-bottom: 20px;
 width: 100%;
}
.formModal > input {
  margin-bottom: 20px;
  width: 93.5%;
}
.formModal > textarea {
  margin-bottom: 20px;
  width: 93.5%;
}
.formModal > select {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 9px;
  border-radius: 5px;
  font-family: Arial;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
}
.searchBar {
  flex: 1;
}
.btnSearchBar, .btnFilterAll, .btnFilterProgress, .btnFilterCompleted {
  background-color: #00079e;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.filterButton {
  flex: 1;
}
.selectFilterPriority {
  border: none;
  border-radius: 5px;
  padding: 9px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: Arial;
  font-weight: bold;
  cursor: pointer;
}
.ProgressionBarSection {
  margin: 50px 0 40px 0;
  color: #00079e;
}
progress {
  height: 20px;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  appearance: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
progress::-webkit-progress-bar {
  background-color: white;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background-color: #00079e;
  border-radius: 10px;
}
progress::-moz-progress-bar {
    background-color: white;
    border-radius: 10px;
}
.containerInProgressAndCompleted {
  display: flex;
}
.inProgressSection {
  flex: 1;
}
.inProgressSection > h2 {
  color: #00079e;
  font-weight: 900;
}
.cardTask {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  width: 400px;
  height: 447px;
  text-align: left;
  margin: 20px auto;
}
.tagCard {
  border-radius: 7px 7px 0 0;
  display: flex;
  padding: 10px;
}
.tagsCard {
  text-align: left;
  flex: 1;
}
.titleCard {
  text-align: center;
  color: gray;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.titleCard > h3 {
  margin: 0;
}
.descriptionCard {
  border: solid 2px #dcdcdc;
  border-right: none;
  border-left: none;
  padding: 10px;
  height: 168px;
}
.descriptionCard > h4 {
  margin: 0;
}
.dueDataCard {
  text-align: center;
}
.modificatedAndDeletedTask {
  text-align: center;
  padding: 20px 0;
  border-top: solid 2px #dcdcdc;
}
.modifiedTask {
  margin-right: 10px;
  background: #00079e;
  cursor: pointer;
}
.deletedTask{
  margin-left: 10px;
  background: #ff3939 ;
  cursor: pointer;
}
.completedSection {
  flex: 1;
}
.completedSection > h2 {
  color: #00079e;
  font-weight: 900;
}
.submitForm{
  background-color: #00079e;
  cursor: pointer;
  width: 100%;
  padding: 20px;
}
footer {
  background-color: #00079e;
  height: 10vh;
  bottom: 0;
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Partie respondsive avec les médias queries */

@media (max-width: 1205px) {
  .selectFilterPriority {
    margin-top: 10px;
  }
}

@media (max-width: 872px) {
  .searchAndCreateSection {
    display: block;
  }
  .taskCreationButton {
    margin-bottom: 30px;
  }
  .btnCreateTask {
    padding: 14px 96px;
  }
  .btnFilterAll,
  .btnFilterProgress,
  .btnFilterCompleted {
    padding: 10px 19px;
  }
  .filterButton {
    margin-top: 20px;
    width: 300px;
    margin: 30px auto;
  }
  .selectFilterPriority {
    margin-top: 10px;
    padding: 10px 134px 10px 9px;
  }
}

@media (max-width: 825px) {
  .cardTask {
    width: 350px;
    height: 455px;
  }
  .descriptionCard {
    height: 175px;
  }
  .descriptionCard>p {
    margin: 5px 0;
  }
}

@media (max-width: 715px) {
  .cardTask {
    width: 300px;
    height: 390px;
  }
  .titleCard>h3 {
    font-size: 15px;
  }
  .descriptionCard {
    height: 110px;
  }
  .descriptionCard>h4 {
    font-size: 14px;
  }
  .descriptionCard>p {
    font-size: 12px;
  }
}

@media (max-width: 615px) {
  .cardTask {
    width: 250px;
  }
  .titleCard>h3 {
    font-size: 14px;
  }
  .descriptionCard {
    height: 110px;
  }
  .descriptionCard>h4 {
    font-size: 13px;
  }
  .descriptionCard>p {
    font-size: 11px;
  }
}

@media (max-width: 510px) {
  .contentModalCreateTask {
      width: 300px;
    }
  .cardTask {
    width: 230px;
    height: 365px;
  }
  .titleCard>h3 {
    font-size: 13px;
  }
  .descriptionCard {
    height: 100px;
  }
  .descriptionCard>h4 {
    font-size: 12px;
  }
  .descriptionCard>p {
    font-size: 10px;
  }
  .dueDataCard>h4 {
    font-size: 12px;
  }
  .modificatedAndDeletedTask {
    display: block;
  }
  .modifiedTask {
    margin-right: 0;
  }
  .deletedTask {
    margin-left: 0;
  }
}
@media (max-width: 478px) {
  .cardTask {
    width: 210px;
    height: 375px;
  }
  .descriptionCard {
    height: 110px;
  }
}
@media (max-width: 428px) {
  .cardTask {
    width: 200px;
    height: 385px;
  }
  .descriptionCard {
    height: 120px;
  }
}
@media (max-width: 408px) {
  .cardTask {
    width: 190px;
    height: 390px;
  }
  .descriptionCard {
    height: 125px;
  }
}
@media (max-width: 388px) {
  .cardTask {
    width: 180px;
    height: 385px;
  }
  .descriptionCard {
    height: 120px;
  }
}
@media (max-width: 367px) {
  .cardTask {
    width: 170px;
    height: 390px;
  }
  .descriptionCard {
    height: 130px;
  }
}
